<section class="main condition-text">
    <h1>
        ŞƏRTLƏR
    </h1>
    <P>
        Məlumat üçün nəzərinizə çatdırırıq ki, Sifarişlərin dəyəri və daşınma haqqı 1 (bir) ay ərzində 300 (üç yüz) ABŞ dolları məbləğinədək olduqda gömrük orqanları tərəfindən hər hansı bir rüsuma cəlb olunmur. 300 (üç yüz) ABŞ dollarından artıq olduğu təqdirdə və gömrük orqanı tərəfindən kommersiya məqsədi daşıdığı barədə məlumat verildiyi halda qanunvericiliyə uyğun olaraq gömrük nomenkulaturasında nəzərə tutulan həcmdə rüsuma cəlb olunacaq. Qeyd edək ki, rusumun maksimum həddi 36% təşkil edir.
        Mallar "Sunex" tərəfindən sığortalanmır və "Sunex" buna görə heç bir məsuliyyət daşımır. <br />
        Sunex hesabına artırılmış daşınma balansı (USD) və TL balansı karta geri qaytarılmır. <br />
        Sifariş edilmiş bağlama daşıyıcının anbarlarına daxil olduqda bu barədə sifarişçiyə email və tətbiq xəbərdarlığı vasitəsilə məlumat veriləcək. Müştəri bağlamanı Əsəd Əhmədov 34 adresindən götürə bilər və ya əlavə xidmət haqqı ödəməklə (kuryer xidməti vasitəsi ilə) adresinə çatdırıla bilər.
        Qəbul olunan bağlamanın ofisimizdə yoxlanması tövsiyyə olunur. Əks təqdirdə sonradan aşkarlanmış hər hansı bir çatışmamazlığa görə "Sunex" məsuliyyət daşımır.
        <br />Qeyd edək ki, <b>14 gündən</b> sonra Bakı ofisimizdə qalan hər bir bağlama üçün hər 1 günə <b>0.5$</b> borc hesablanır. 2 ay müddətində müştəri tərəfindən bağlama götürülməzsə müştərinin adından çıxarılacaq və <b>təslim olunmayacaq.</b><br />
        Hər bir bağlama üçün ayrılıqda ödəniş hesablanır.
        Bağlamaların çəki görə ödənişləri ancaq onlayn şəkildə qəbul edilir. Nəğd ödənişlər qəbul olunmur.
        Türkiyə lirəsinin Dollara dəyişməsində konvertisiya xərci olaraq 5% tutulur.
        <br />
        <br />
        Beynəlxalq daşımacılığa əsasən məhsulun həcmi çəkisi fiziki çəkisindən böyük olduqda həcmi çəki ilə hesablanır.
        <br /><br />Həvalə et xidməti ilə gətirilən məhsulların qüsurlu çıxmasına (ölçünün, rəngin və s. yanlış olması) görə Sunex.az məsuliyyət daşımır.
        <br /> Türkiyə ofisində olub, Smart Customs mobil tətbiqi və ya www.e.customs.gov.az saytında bəyan edilməmiş bağlamaların göndərişi edilmir, bəyan etmədikdə növbəti göndərişə qədər 1$ cərimə əlavə edilir.
        <br /> Balansa artırılan pul kart hesabına geri qaytarılmır.
        <br />
        Sığorta olunan məhsullar xarici anbara daxil olduqdan sonra əməkdaşlar tərəfindən yoxlanılır və məhsullar sifarişçinin istədiyi parametrə uyğun olub olmaması təyin olunur.
        <br />
        <br />Daşıyıcının məsuliyyətləri
        <br />
        <br />1. Daşıyıcı sığortalanmış məhsulların tamlığına, rənginə , sayına və ölçü uyğunluğlarına vizual baxış keçirməlidir.
        <br />
        <br />2. Daşıyıcı "XARICI ANBARA" daxil olmuş sığortalanan məhsulları yalnız qüsurlu olduğu təqdirdə geri qaytarır.
        <br />
        <br />3. Sığorta haqqı, bağlamanın dəyərindən aslı olmayaraq hər bağlama üçün 1 USD olaraq hesablanır və müştərinin DOLLAR balansından tutulur.
        <br />
        <br />4. Daşıyıcı Elektronik cihazlar və ya bənzər məhsulları yalnız vizual olaraq yoxlayır və Cihazın sazlığına daşıyıcı şirkət cavabdehlik daşımır.
        <br />
        <br />5. QIRILAN MƏHSULLAR SIĞORTALANMIR. (məsələn: qab-qacaq və s.)
        <br />
        <br />6. İSTİFADƏ OLUNMUŞ (second hand) MƏHSULLAR HEÇ BİR HALDA SIĞORTALANMIR.
        <br />
        <br />Sifarişçinin məsuliyyətləri
        <br />
        <br />1. Sifarişci sığortalamaq istədiyi bağlamanı sistem üzrə seçməlidir (sistem üzrə seçilməmiş bağlamalar sığortalı hesab edilmir)
        <br />
        <br />2. Sığorta olunmuş məhsul çatıb statusu aldıqdan sonra müştəri ən gec 1 iş günü ərzində məhsulu təhvil alaraq ofis daxilində baxış keçirməlidir.
        <br />
        <br />3. Sığorta haqqı, bağlamanın dəyərindən aslı olmayaraq hər bağlama üçün 1 USD olaraq hesablanır
    </P>
</section>


