
<body>

    <section class="main">
        <h1>
            <span>TÜRKİYƏ və ABŞ'dakı</span>
            <span>ALIŞ VERİŞ NÜMAYƏNDƏNİZ</span>
        </h1>
        <div class="flags">
            <img id="flag" class="flagt" src="/img/Flag_of_Turkey.svg.png" alt="">
            <img id="flag" class="flaga" src="/img/American-Flag-Wave-Wallpaper-Mural.jpg" alt="">

        </div>

        <div class="calculator t">
            <table>
                <tbody>
                    <tr>
                        <td>0kq-0.1kq</td>
                        <td>1$</td>
                    </tr>
                    <tr>
                        <td>0.2kq-0.5kq</td>
                        <td>2$</td>
                    </tr>
                    <tr>
                        <td>0.5kq-0.7kq</td>
                        <td>3$</td>
                    </tr>
                    <tr>
                        <td>0.7kq-1kq</td>
                        <td>4$</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="calculator a">
            <table>
                <tbody>
                    <tr>
                        <td>0kq-0.1kq</td>
                        <td>2$</td>
                    </tr>
                    <tr>
                        <td>0.2kq-0.5kq</td>
                        <td>3$</td>
                    </tr>
                    <tr>
                        <td>0.5kq-0.7kq</td>
                        <td>4$</td>
                    </tr>
                    <tr>
                        <td>0.7kq-1kq</td>
                        <td>5$</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <img id="tarif" src="/Sunex.az/img/Sunex.azTarifler.jpeg" alt="">
    </section>
    <section class="working">
        <h1>NECƏ İŞLƏYİR</h1>
        <div class="steps">
            <div class="step">
                <i class="fa-solid fa-box"></i>
                <h3>1</h3>
                <p>Heç bir ödəniş etmədən elə indi qeydiyyatdan keçin və sizə özəl Türkiyə ünvanınızı əldə edərək online alış-verişdən həzz alın.</p>

            </div>


            <div class="step">
                <i class="fa-solid fa-clipboard"></i>
                <h3>2</h3>
                <p>İstədiyiniz saytdan sifariş edərkən ünvan bölməsinə saytımızdan əldə etdiyiniz ünvanı qeyd edərək sifarişinizi bizə yönləndirin.</p>
            </div>


            <div class="step">
                <i class="fa-solid fa-map"></i>
                <h3>3</h3>
                <p>Tərəfimizə yönləndirdiyiniz sifarişlərinizi 3-5 iş günü ərzində Bakı ünvanımıza çatdırırıq. İstədiyiniz halda ünvana çatdırılma xidmətimizdən yararlana bilərsiniz.</p>
            </div>

        </div>
    </section>

</body>