

<section class="main condition-text">
    <h1>XİDMƏTLƏR</h1>
    <h3>Türkiyədən və Amerikadan Çatdırılma</h3>
    <p>
        Türkiyədən online sifariş olunan malların, poçt bağlamaların sürətli çatdırılmasını həyata keçirir. Türkiyə və ya Amerikadan qəbul olunmuş mallar 3-5 iş günü ərzində Azərbaycana çatdırılır.
    </p>
    <h3>Həvalə et</h3>
    <p>
        Türkiyə online alış-veriş səhifələrində hər hansı bir malın alınmasında çətinlik çəkdiyiniz təqdirdə bununla bağlı bizə müraciət edə bilərsiniz. Biz bu xidmətlə həmin malın həm alınmasın həm də çatdırılmasını təşkil edirik.
        Qeyd edək ki, məhsul bizim tərəfimizdən
        alınarsa, 5% bank xərci hesablanır.
        Alınan saytda ölkədaxili karqo ödənişlidirsə, ümumi dəyərə əlavə edilir.
    </p>
    <h3>Kuryer xidməti</h3>
    <p>
        Biz həmçinin Bakı anbarına daxil olmuş bağlamanızın istənilən ünvana çatdırılmasınıda təşkil edirik. Qiymətlərlə bağlı tariflər bölməsində məlumat əldə edə bilərsiniz.
    </p>
    <h3>Şəxsi Kabinet</h3>
    <p>
        Yeni bağlama sifariş vermək; <br />
        Bağlamanın harda olduğunu izləmək;<br />
        Bağlamanı bəyan etmək;<br />
        Kuryer xidməti sifariş etmək;<br />
        Balansı onlayn artırmaq və çəkiyə görə ödənişi həyata keçirmək.
    </p>
</section>