<form action="/admin/AddShop" method="post">

    <input name="shopName" type="text" placeholder="shop Name">
    <input name="shopUrl" type="text" placeholder="shop website link url">
    <input name="shopLogo" type="text" placeholder="shop Logo link">
    <button>Add</button>
</form>